body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.eldorado{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 3,0px;
}
.hw{
    width: 50%;
    padding: auto;

}
.h img{
    width: 60%;
    padding-block-end: 30%;
   
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;    
    text-decoration: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
