body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}



h2{
    font-size: 40px;
}
.eldorado{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 3px 1px;
}
.hw{
    width: 50%;
    padding: 5%;

}
.hw img{
    width: 80%;
    /* margin-right: 20px; */
    
   
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;    
    text-decoration: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 15px;
}   
.shriti{
    box-shadow: 8px 5px 40px rgb(218, 49, 49);
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
    margin: right 10%; ;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1 ;

}
.sh{
    box-shadow: 8px 5px 40px rgb(231, 207, 207);
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%; ;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(#614c21, #0e0c9f) 30;
    border-image-slice: 1 ;

}
.experience-area{
 background-image: url(exp-bg.png);   
 background-repeat: no-repeat;
 background-position: left;
}
#wde{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1 ;
}
footer{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
}
