body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
h1{
    font-size: 40px;
}
.eldorado{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 3,0px;
}
.hw{
    width: 50%;
    padding: auto;

}
.h img{
    width: 60%;
    padding-block-end: 30%;
   
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;    
    text-decoration: white;
    font-weight: bold;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}   
.shriti{
    box-shadow: 8px 5px 40px grey;
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
    margin: right 10%; ;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1 ;





}
.experience-area{
 background-image: url(exp-bg.png);   
 background-repeat: no-repeat;
 background-position: left;
}
#wde{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1 ;
}
